.libs/
autom4te.cache/
build/
modules/
config.guess
config.nice
config.status
config.sub
configure
libtool
.deps
Makefile*
acinclude.m4
aclocal.m4
config.h.in
config.log
configure.in
install-sh
*.la
*.lo
ltmain.sh
missing
mkinstalldirs
run-tests.php
